@import "../../../src/scss/bourbon/bourbon";
@import "../../../src/scss/utilities";

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$theme-basic: #32B4DC; // #337ab7;
$theme-good:  #78B43C;
$theme-info:  #002A4F;
$theme-warning: #E66E3C;
$theme-danger: darken($theme-warning, 20%);
$theme-link: #fff;
$theme-special: #bc4cd0;

// ax5 documents layouts
$app-page-width: 970px;
$app-nav-left: 200px;
$app-visual-height: 280px;

@import "common";
@import "layout";