/* line 4, app.scss */
html, body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #444;
  height: 100%;
  line-height: 1.6em;
}

/* line 10, app.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em auto;
  color: #222;
}

/* line 19, app.scss */
article h1 {
  font-size: 2.5em;
}
/* line 22, app.scss */
article h2 {
  font-size: 1.8em;
}
/* line 25, app.scss */
article h3 {
  font-size: 1.5em;
}
/* line 28, app.scss */
article h4 {
  font-size: 1.2em;
}
/* line 31, app.scss */
article h5 {
  font-size: 1em;
}

/* line 39, app.scss */
div.block-end {
  height: 30px;
}

/* line 40, app.scss */
pre.prettyprint {
  border-radius: 10px;
}

/* line 51, app.scss */
.app-wrap {
  position: relative;
  width: 970px;
  margin: 0px auto;
}

/* line 56, app.scss */
.app-nav {
  z-index: 1000;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  min-width: 970px;
  height: 60px;
  color: #000;
}
/* line 64, app.scss */
.app-nav a {
  color: inherit;
}
/* line 67, app.scss */
.app-nav .box-bg {
  position: absolute;
  width: 100%;
  min-width: 970px;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  background: rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
/* line 76, app.scss */
.app-nav .box-content {
  position: relative;
  width: 970px;
  margin: 0px auto;
}
/* line 80, app.scss */
.app-nav .box-content ul, .app-nav .box-content li {
  margin: 0px;
  padding: 0px;
}
/* line 81, app.scss */
.app-nav .box-content li {
  list-style: none;
  display: inline;
}
/* line 82, app.scss */
.app-nav .box-content .logo {
  display: block;
  height: 60px;
  width: 200px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
/* line 90, app.scss */
.app-nav .box-content .menu {
  position: absolute;
  left: 200px;
  top: 0px;
}
/* line 92, app.scss */
.app-nav .box-content .menu li {
  display: block;
  float: left;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0px 20px;
  font-size: 14px;
  color: #fff;
}
/* line 98, app.scss */
.app-nav .box-content .menu li a {
  text-decoration: none;
}
/* line 99, app.scss */
.app-nav .box-content .menu li.vline {
  padding: 0px;
  width: 1px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

/* line 107, app.scss */
.app-visual {
  z-index: 900;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-width: 970px;
  height: 280px;
  color: #fff;
  /* Rectangle 6: */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViMTE2NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZjNjIwZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eb1165), color-stop(100%, #fc620f));
  background-image: -moz-linear-gradient(left, #eb1165, #fc620f);
  background-image: -webkit-linear-gradient(left, #eb1165, #fc620f);
  background-image: linear-gradient(to right, #eb1165, #fc620f);
}
/* line 114, app.scss */
.app-visual.pinned {
  position: fixed;
  top: -220px;
}
/* line 120, app.scss */
.app-visual.scrolled .app-wrap {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
/* line 128, app.scss */
.app-visual .visual {
  position: absolute;
  left: 50px;
  top: 100px;
  width: 150px;
  height: 126px;
  background: url(../images/ax5dom.png) no-repeat;
  background-size: contain;
}
/* line 136, app.scss */
.app-visual h1 {
  color: #fff;
  position: absolute;
  left: 220px;
  top: 120px;
  font-size: 42px;
}
/* line 142, app.scss */
.app-visual h3 {
  color: #fff;
  position: absolute;
  left: 220px;
  top: 170px;
  font-size: 16px;
}

/* line 149, app.scss */
.app-page {
  position: relative;
  padding: 280px 0px 0px 0px;
}
/* line 152, app.scss */
.app-page .app-content {
  position: relative;
  width: 750px;
  margin: 0px auto;
  padding-left: 220px;
}
/* line 158, app.scss */
.app-page .app-content a[name] {
  display: block;
  height: 10px;
}
/* line 163, app.scss */
.app-page .app-content article h1[id], .app-page .app-content article h2[id] {
  padding-top: 100px;
}
/* line 167, app.scss */
.app-page .app-content article.cover h1 {
  font-size: 2.5em;
  text-align: center;
}
/* line 172, app.scss */
.app-page .app-content article.content {
  padding: 0px 0px 10px 0px;
}
/* line 174, app.scss */
.app-page .app-content .script-result, .app-page .app-content .tag-result {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
}
/* line 180, app.scss */
.app-page .app-content .ax-section {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
}
/* line 188, app.scss */
.app-page .app-nav-left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;
  text-align: right;
  /* Rectangle 10: */
  background: #F1F1F1;
  border-radius: 8px;
}
/* line 201, app.scss */
.app-page .app-nav-left a {
  display: block;
  line-height: 1.5em;
  text-decoration: none;
  color: #444;
}
/* line 207, app.scss */
.app-page .app-nav-left li {
  list-style: none;
  text-align: right;
}
/* line 211, app.scss */
.app-page .app-nav-left ul {
  margin: 0px;
  padding: 0px;
}
/* line 214, app.scss */
.app-page .app-nav-left ul li {
  padding-top: 10px;
  padding-right: 0px;
}
/* line 218, app.scss */
.app-page .app-nav-left ul li a {
  font-size: 1.2em;
  line-height: 2em;
  color: #000;
}
/* line 220, app.scss */
.app-page .app-nav-left ul ul {
  padding: 0px 0px 0px 0px;
}
/* line 222, app.scss */
.app-page .app-nav-left ul ul li {
  padding-top: 0px;
  padding-right: 0px;
}
/* line 226, app.scss */
.app-page .app-nav-left ul ul li a {
  font-size: 1em;
  line-height: 1.5em;
  color: #444;
}

/* line 234, app.scss */
.DH1 {
  line-height: 0px;
  height: 1px;
}

/* line 238, app.scss */
.DH10 {
  line-height: 0px;
  height: 10px;
}

/* line 234, app.scss */
.DH2 {
  line-height: 0px;
  height: 2px;
}

/* line 238, app.scss */
.DH20 {
  line-height: 0px;
  height: 20px;
}

/* line 234, app.scss */
.DH3 {
  line-height: 0px;
  height: 3px;
}

/* line 238, app.scss */
.DH30 {
  line-height: 0px;
  height: 30px;
}

/* line 234, app.scss */
.DH4 {
  line-height: 0px;
  height: 4px;
}

/* line 238, app.scss */
.DH40 {
  line-height: 0px;
  height: 40px;
}

/* line 234, app.scss */
.DH5 {
  line-height: 0px;
  height: 5px;
}

/* line 238, app.scss */
.DH50 {
  line-height: 0px;
  height: 50px;
}

/* line 234, app.scss */
.DH6 {
  line-height: 0px;
  height: 6px;
}

/* line 238, app.scss */
.DH60 {
  line-height: 0px;
  height: 60px;
}

/* line 234, app.scss */
.DH7 {
  line-height: 0px;
  height: 7px;
}

/* line 238, app.scss */
.DH70 {
  line-height: 0px;
  height: 70px;
}

/* line 234, app.scss */
.DH8 {
  line-height: 0px;
  height: 8px;
}

/* line 238, app.scss */
.DH80 {
  line-height: 0px;
  height: 80px;
}

/* line 234, app.scss */
.DH9 {
  line-height: 0px;
  height: 9px;
}

/* line 238, app.scss */
.DH90 {
  line-height: 0px;
  height: 90px;
}

/* line 234, app.scss */
.DH10 {
  line-height: 0px;
  height: 10px;
}

/* line 238, app.scss */
.DH100 {
  line-height: 0px;
  height: 100px;
}
