@import "compass/support";
@import "compass/css3";

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

html, body{
  margin:0px;padding:0px;
  font-family: $font-family-base;
  font-size: 14px;color:#444;
  height:100%;line-height: 1.6em;
}

*{}
h1,
h2,
h3,
h4,
h5,
h6
{margin: 0.5em auto;color:#222;}

article {
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 1.8em;
	}
	h3 {
		font-size: 1.5em;
	}
	h4 {
		font-size: 1.2em;
	}
	h5 {
		font-size: 1em;
	}
}

p{}
li{}

div.block-end{height:30px;}
pre.prettyprint{
	border-radius: 10px;
	//background-color: #f3f3f3;
}



// ax5 documents layouts
$app-page-width: 970px;
$app-nav-left: 200px;

.app-wrap{
  position: relative;
  width: $app-page-width;
  margin: 0px auto;
}
.app-nav{
  z-index: 1000;
  position: fixed;
  left:0px;top:0px;
  width:100%;min-width:$app-page-width;
  height:60px;
  color:#000;

  a{
	color:inherit;
  }
  .box-bg{
	position: absolute;
	width:100%;min-width:$app-page-width;
	height:100%;
	@include opacity(0.3);
	background: rgba(255,255,255,0.50);
	@include box-shadow(0px 2px 2px 0px rgba(0,0,0,0.30));
	//@include filter(blur(5px));
  }
  .box-content{
	position: relative;
	width: $app-page-width;
	margin:0px auto;
	ul, li{margin:0px;padding:0px;}
	li{list-style: none;display: inline;}
	.logo{
	  display: block;
	  height:60px;width:200px;
	  line-height:60px;text-align:center;
	  font-size:20px;
	  color:#fff;font-weight: bold;
	  text-decoration:none;
	}
	.menu{
	  position: absolute;left:200px;top:0px;
	  li{
		display: block;float:left;
		height:60px;line-height:60px;text-align:center;
		padding:0px 20px;
		font-size:14px;
		color:#fff;
		a{text-decoration: none;}
		&.vline{
		  padding:0px;width:1px;
		  @include background-image(linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.0)));
		}
	  }
	}
  }
}
.app-visual{
  z-index: 900;
  position:absolute;
  left:0px;top:0px;
  width:100%;min-width:$app-page-width;
  height:280px;
  color:#fff;
  &.pinned{
	position:fixed;
	top:-220px;
  }

  &.scrolled{
	.app-wrap{
	  @include filter(blur(10px));
	}
  }

  /* Rectangle 6: */
  @include background-image(linear-gradient(to right, #EB1165, #FC620F));

  .visual{
	position: absolute;
	left:50px;top:100px;
	width:150px;
	height:126px;
	background: url(../images/ax5dom.png) no-repeat;
	background-size: contain;
  }
  h1{
	color:#fff;
	position: absolute;
	left:220px;top:120px;
	font-size: 42px;
  }
  h3{
	color:#fff;
	position: absolute;
	left:220px;top:170px;
	font-size: 16px;
  }
}
.app-page{
  position: relative;
  padding: 280px 0px 0px 0px;
  .app-content{
	position: relative;
	width: ($app-page-width - $app-nav-left - 20);
	margin:0px auto;
    padding-left: ($app-nav-left + 20);

    a[name]{
      display: block;
      height: 10px;
    }
    article{
	  h1[id],h2[id]{
		padding-top:100px;
	  }
      &.cover{
        h1{
          font-size: 2.5em;
          text-align: center;
        }
      }
      &.content{padding:0px 0px 10px 0px;}
    }
    .script-result, .tag-result{
      border:1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      font-size: 1.2em;
    }
    .ax-section{
      position: relative;
      border:1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      font-size: 1.2em;
    }
  }
  .app-nav-left{
    position: absolute;
    top: 0px; left:0px;
    width:200px;
    box-sizing: border-box;
    padding:20px;
    overflow: auto;
    text-align: right;

	/* Rectangle 10: */
	background: #F1F1F1;
	border-radius: 8px;
	
    a{
      display: block;
      line-height: 1.5em;
      text-decoration: none;
      color: #444;
    }
    li{
      list-style: none;
      text-align: right;
    }
    ul{
      margin:0px;
      padding: 0px;
      li{
        //text-align: center;
        padding-top: 10px;
        padding-right: 0px;
        a{font-size: 1.2em;line-height: 2em;color: #000;}
      }
      ul{
        padding: 0px 0px 0px 0px;
        li{
          //text-align: right;
          padding-top: 0px;
          padding-right: 0px;
          a{font-size: 1em;line-height: 1.5em;color: #444;}
        }
      }
    }
  }
}

@for $i from 1 through 10 {
  .DH#{$i} {
	line-height:0px;
	height: #{$i}px;
  }
  .DH#{$i*10} {
	line-height:0px;
	height: #{$i*10}px;
  }
}