@import "compass/css3";

html, body{
	margin:0px;padding:0px;font-size: 14px;color:#444;
	height:100%;line-height: 1.6em;
}

*{}
h1,
h2,
h3,
h4,
h5,
h6
{margin: 0.5em auto;color:#222;}

article {
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 1.8em;
	}
	h3 {
		font-size: 1.5em;
	}
	h4 {
		font-size: 1.2em;
	}
	h5 {
		font-size: 1em;
	}
}

p{}
li{}

div.block-end{height:30px;}
pre.prettyprint{
	border-radius: 10px;
	//background-color: #f3f3f3;
}


// ax5 documents layouts
$app-page-width: 970px;
$app-nav-left: 200px;

.app-nav{
  z-index: 1000;
  position: fixed;
  left:0px;top:0px;
  width:100%;min-width:$app-page-width;
  height:60px;
  color:#000;
  //background-image: linear-gradient(-90deg, #EB1165 0%, #FC620F 100%);
  
  a{
	color:inherit;
  }
  .box-bg{
	position: absolute;
	width:100%;min-width:$app-page-width;
	height:100%;
	@include opacity(0.4);
	background: rgba(255,255,255,0.30);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.30);
  }
  .box-content{
	position: relative;
	ul, li{margin:0px;padding:0px;}
	li{list-style: none;display: inline;}
  }
}
.app-visual{
  z-index: 900;
  position:absolute;
  left:0px;top:0px;
  width:100%;min-width:$app-page-width;
  height:280px;
  /* Rectangle 6: */
  @include background-image(linear-gradient(to right, #EB1165, #FC620F));
  &.pinned{
	position:fixed;
	top:-220px;
  }
}
.app-page{
  position: relative;
  padding: 280px 0px 0px 0px;
  .app-content{
	position: relative;
	width: ($app-page-width - $app-nav-left - 20);
	margin:0px auto;
    padding-left: ($app-nav-left + 20);

    a[name]{
      display: block;
      height: 10px;
    }
    article{
      &.cover{
        h1{
          font-size: 2.5em;
          text-align: center;
        }

      }
      &.content{padding:50px 0px;}
    }
    .script-result, .tag-result{
      border:1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      font-size: 1.2em;
    }
    .ax-section{
      position: relative;
      border:1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      font-size: 1.2em;
    }
  }
  .app-nav-left{
    position: absolute;
    top: 0px; left:0px;
    height:100%;width:200px;
    box-sizing: border-box;
    padding:20px;
    overflow: auto;
    text-align: right;
    border-right:1px solid #888;
    a{
      display: block;
      line-height: 1.5em;
      text-decoration: none;
      color: #444;
    }
    li{
      list-style: none;
      text-align: right;
    }
    ul{
      margin:0px;
      padding: 0px;
      li{
        //text-align: center;
        padding-top: 10px;
        padding-right: 0px;
        a{font-size: 1.2em;line-height: 2em;color: #000;}
      }
      ul{
        padding: 0px 0px 0px 0px;
        li{
          //text-align: right;
          padding-top: 0px;
          padding-right: 0px;
          a{font-size: 1em;line-height: 1.5em;color: #444;}
        }
      }
    }
  }
}