/* line 3, sample-docs.scss */
html, body {
  margin: 0px;
  padding: 10px;
  font-size: 14px;
  color: #444;
  height: 100%;
  line-height: 1.6em;
}

/* line 9, sample-docs.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em auto;
  color: #222;
}

/* line 18, sample-docs.scss */
article h1 {
  font-size: 2.5em;
}
/* line 21, sample-docs.scss */
article h2 {
  font-size: 1.8em;
}
/* line 24, sample-docs.scss */
article h3 {
  font-size: 1.5em;
}
/* line 27, sample-docs.scss */
article h4 {
  font-size: 1.2em;
}
/* line 30, sample-docs.scss */
article h5 {
  font-size: 1em;
}

/* line 38, sample-docs.scss */
div.block-end {
  height: 30px;
}

/* line 39, sample-docs.scss */
pre.prettyprint {
  border-radius: 10px;
}

/* line 46, sample-docs.scss */
.sample-nav {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 60px;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
/* line 52, sample-docs.scss */
.sample-nav a {
  color: inherit;
}

/* line 60, sample-docs.scss */
.sample-doc-page {
  position: relative;
  width: 970px;
  margin: 0px auto;
  padding: 60px 0px 0px 0px;
}
/* line 65, sample-docs.scss */
.sample-doc-page .sample-doc-content {
  padding-left: 220px;
}
/* line 67, sample-docs.scss */
.sample-doc-page .sample-doc-content a[name] {
  display: block;
  height: 10px;
}
/* line 73, sample-docs.scss */
.sample-doc-page .sample-doc-content article.cover h1 {
  font-size: 2.5em;
  text-align: center;
}
/* line 79, sample-docs.scss */
.sample-doc-page .sample-doc-content article.content {
  padding: 50px 0px;
}
/* line 81, sample-docs.scss */
.sample-doc-page .sample-doc-content .script-result, .sample-doc-page .sample-doc-content .tag-result {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
}
/* line 87, sample-docs.scss */
.sample-doc-page .sample-doc-content .ax-section {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
}
/* line 95, sample-docs.scss */
.sample-doc-page .sample-doc-menu {
  position: fixed;
  top: 60px;
  height: 100%;
  width: 200px;
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;
  text-align: right;
  border-right: 1px solid #888;
}
/* line 104, sample-docs.scss */
.sample-doc-page .sample-doc-menu a {
  display: block;
  line-height: 1.5em;
  text-decoration: none;
  color: #444;
}
/* line 110, sample-docs.scss */
.sample-doc-page .sample-doc-menu li {
  list-style: none;
  text-align: right;
}
/* line 114, sample-docs.scss */
.sample-doc-page .sample-doc-menu ul {
  margin: 0px;
  padding: 0px;
}
/* line 117, sample-docs.scss */
.sample-doc-page .sample-doc-menu ul li {
  padding-top: 10px;
  padding-right: 0px;
}
/* line 121, sample-docs.scss */
.sample-doc-page .sample-doc-menu ul li a {
  font-size: 1.2em;
  line-height: 2em;
  color: #000;
}
/* line 123, sample-docs.scss */
.sample-doc-page .sample-doc-menu ul ul {
  padding: 0px 0px 0px 0px;
}
/* line 125, sample-docs.scss */
.sample-doc-page .sample-doc-menu ul ul li {
  padding-top: 0px;
  padding-right: 0px;
}
/* line 129, sample-docs.scss */
.sample-doc-page .sample-doc-menu ul ul li a {
  font-size: 1em;
  line-height: 1.5em;
  color: #444;
}
