html,
body {
  margin: 0px;
  padding: 10px;
  font-size: 13px;
}
div.block-end {
  height: 50px;
}
pre.prettyprint {
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 10px 10px 10px 0px;
  background-color: #f3f3f3;
}
