/* line 3, ../scss/test/ax5.scss */
.box-sizing-example {
  background: red;
  padding: 20px;
  border: 10px solid green;
  margin: 20px;
  width: 200px;
}

/* line 11, ../scss/test/ax5.scss */
#content-box {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 15, ../scss/test/ax5.scss */
#border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
