//~~ extend within chequer-cacao

.ax5-ui-modal{
	.ax-modal-heading{
		font-size: ceil(($font-size-base * 1));
	}
}

.ax5-ui-dialog{
	.ax-dialog-body {
		.ax-dialog-buttons {
			.ax-btn {
				padding: 5px 5px;
				min-width: 100px;
				border-radius: 6px;
			}
		}
	}
}