//~~ extend within chequer-cacao

.ax5-ui-modal{
	.ax-modal-heading{
		font-size: ceil(($font-size-base * 1));
	}
}

.ax-mask {
	height: 120%;
	.ax-mask-bg{
		height:120%;
		background: transparent;
	}
	.ax-mask-content{
		height:120%;
	}
}


.ax5-ui-calendar {
	.calendar-control{
		margin:0px;
	}
	.calendar-body {
		table {
			thead {
				td, th {
					border: 0px none;
					border-top: $calendar-header-border;
					border-bottom: $calendar-header-border;
				}
			}
			tbody {
				td, th {
					border: 0px none;
					border-top: $calendar-body-border;
					border-bottom: $calendar-body-border;
					padding: 0px;
					.calendar-item-date {
						border-radius: 0;
						@include ax-gradient(nth($calendar-date-bg, 1), nth($calendar-date-bg, 2));
						color: $calendar-date-text-color;
						&.live {
							@include ax-gradient(nth($calendar-date-bg, 1), nth($calendar-date-bg, 2));
							color: $calendar-live-text-color;
						}
						&.hover {
							@include ax-gradient(nth($calendar-hover-bg, 1), nth($calendar-hover-bg, 2));
							color: $calendar-hover-text-color !important;
						}
						&.focus {
							@include ax-gradient(nth($calendar-focus-bg, 1), nth($calendar-focus-bg, 2));
							color: $calendar-focus-text-color;
						}
					}
					.calendar-item-month {
						&.live {
							@include ax-gradient(nth($calendar-date-bg, 1), nth($calendar-date-bg, 2));
							color: $calendar-live-text-color;
						}
						&.hover {
							@include ax-gradient(nth($calendar-hover-bg, 1), nth($calendar-hover-bg, 2));
							color: $calendar-hover-text-color;
						}
						&.focus {
							@include ax-gradient(nth($calendar-focus-bg, 1), nth($calendar-focus-bg, 2));
							color: $calendar-focus-text-color;
						}
					}
					.calendar-item-year {
						&.live {
							@include ax-gradient(nth($calendar-date-bg, 1), nth($calendar-date-bg, 2));
							color: $calendar-live-text-color;
						}
						&.hover {
							@include ax-gradient(nth($calendar-hover-bg, 1), nth($calendar-hover-bg, 2));
							color: $calendar-hover-text-color;
						}
						&.focus {
							@include ax-gradient(nth($calendar-focus-bg, 1), nth($calendar-focus-bg, 2));
							color: $calendar-focus-text-color;
						}
					}
				}
			}
		}
	}
}

.ax5-ui-dialog{
	.ax-dialog-body {
		.ax-dialog-buttons {
			.ax-btn {
				padding: 5px 5px;
				min-width: 100px;
				border-radius: 6px;
			}
		}
	}
}