@import "../bourbon/bourbon";
@import "../utilities";

// 변수선언 : variables
// ---------------------------------------------------------------------

// 색상 : Colors
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$white: #fff;
$black: #000;


$theme-basic: #FEEE00; // #337ab7;
$theme-good:  #503C3E;
$theme-info:  #F79231;
$theme-warning: #FF5B00;
$theme-danger: darken($theme-warning, 20%);
$theme-link: #fff;
$theme-special: #292929;
$theme-muted: $gray-light;

// 공통 : Global
// ** Global text color
$text-color:            $gray-dark;
//** Global textual link color.
$link-color:            $theme-warning;
//** Link hover decoration.
$link-decoration: none;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;

// text theme color
$basic-text-color: darken($theme-basic, 5%);
$good-text-color: $theme-good;
$info-text-color: $theme-info;
$warning-text-color: $theme-warning;
$danger-text-color: $theme-danger;
$link-text-color: $theme-link;
$special-text-color: $theme-special;

// 폰트 Typography
// text
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          13px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px
$font-weight:	400;

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit;
$headings-font-weight:    500;
$headings-line-height:    1.1;
$headings-color:          inherit;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     4px;
$padding-base-horizontal:   7px;

$padding-large-vertical:    5px;
$padding-large-horizontal:  10px;

$padding-small-vertical:    2px;
$padding-small-horizontal:  5px;

$padding-xs-vertical:       0px;
$padding-xs-horizontal:     5px;

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;

$border-radius-base:        (6px, 6px, 6px, 6px);
$border-radius-large:       (8px, 8px, 8px, 8px);
$border-radius-small:       (3px, 3px, 3px, 3px);
//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #5A3100;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $theme-basic;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px;

//== Buttons
$btn-font-weight:                normal;

$btn-default-text-color: #474749;
$btn-default-text-shadow: none; //0px 1px 0px rgba(255,255,255, 0.5);
$btn-default-bg: (#D0D0D0, #D0D0D0); // 배경색들
$btn-default-bg-image: "";
$btn-default-border: 1px solid #D0D0D0;
$btn-default-drop-shadow: none; //0px 1px 0px 0px rgba(0,0,0,0.15);
	$btn-default-hover-text-color: darken($btn-default-text-color, 10%);
	$btn-default-hover-text-shadow: 0px 1px 0px rgba(255,255,255, 0.5);
	$btn-default-hover-bg: (#D0D0D0, #D0D0D0); // 배경색들
	$btn-default-hover-bg-image: "";
	$btn-default-hover-border: 1px solid darken(#D0D0D0, 10%);
	$btn-default-hover-drop-shadow: none; //0px 1px 0px 0px rgba(0,0,0,0.15);

$btn-basic-text-color: #5A3100;
$btn-basic-text-shadow: none; //0px -1px 0px darken($theme-basic, 50%);
$btn-basic-bg: ($theme-basic, $theme-basic); // 배경색들
$btn-basic-bg-image: "";
$btn-basic-border: 1px solid $theme-basic;
$btn-basic-drop-shadow: none; //0px 1px 0px 0px rgba(0,0,0,0.15);
	$btn-basic-hover-text-color: #000;
	$btn-basic-hover-text-shadow: none; //0px -1px 0px darken($theme-basic, 50%);
	$btn-basic-hover-bg: ($theme-basic, $theme-basic); // 배경색들
	$btn-basic-hover-bg-image: "";
	$btn-basic-hover-border: 1px solid darken($theme-basic, 5%);
	$btn-basic-hover-drop-shadow: none; //0px 1px 0px 0px rgba(0,0,0,0.15);

$btn-good-text-color:#FEEE00;
$btn-good-text-shadow: none; //0px -1px 0px darken($theme-good, 50%);
$btn-good-bg: ($theme-good, $theme-good); // 배경색들
$btn-good-bg-image: "";
$btn-good-border: 1px solid darken($theme-good, 10%);
$btn-good-drop-shadow: none; //0px 1px 0px 0px rgba(0,0,0,0.15);
	$btn-good-hover-text-color:#fff;
	$btn-good-hover-text-shadow: none; //0px -1px 0px darken($theme-good, 50%);
	$btn-good-hover-bg: ($theme-good, $theme-good);
	$btn-good-hover-bg-image: "";
	$btn-good-hover-border: 1px solid darken($theme-good, 10%);
	$btn-good-hover-drop-shadow: none; //0px 1px 0px 0px rgba(0,0,0,0.15);

$btn-info-text-color:#fff;
$btn-info-text-shadow: none; //0px -1px 0px rgba(0,0,0,0.9);
$btn-info-bg: ($theme-info, $theme-info); // 배경색들
$btn-info-bg-image: "";
$btn-info-border: 1px solid $theme-info;
$btn-info-drop-shadow: none; //0px 1px 0px 0lipx rgba(0,0,0,0.15);
	$btn-info-hover-text-color:#fff;
	$btn-info-hover-text-shadow: none; //0px -1px 0px rgba(0,0,0,0.9);
	$btn-info-hover-bg: ($theme-info, $theme-info);
	$btn-info-hover-bg-image: "";
	$btn-info-hover-border: 1px solid darken($theme-info, 10%);
	$btn-info-hover-drop-shadow: none; //0px 1px 0px 0px rgba(0,0,0,0.15);

$btn-warning-text-color:#fff;
$btn-warning-text-shadow: none; //0px -1px 0px darken($theme-warning, 50%);
$btn-warning-bg: ($theme-warning, $theme-warning); // 배경색들
$btn-warning-bg-image: "";
$btn-warning-border: 1px solid $theme-warning;
$btn-warning-drop-shadow: none; //0px 1px 0px 0px rgba(0,0,0,0.15);
	$btn-warning-hover-text-color:#fff;
	$btn-warning-hover-text-shadow: none; //0px -1px 0px darken($theme-warning, 50%);
	$btn-warning-hover-bg: ($theme-warning, $theme-warning);
	$btn-warning-hover-bg-image: "";
	$btn-warning-hover-border: 1px solid darken($theme-warning, 20%);
	$btn-warning-hover-drop-shadow: none; //0px 1px 0px 0px rgba(0,0,0,0.15);

$btn-danger-text-color:#fff;
$btn-danger-text-shadow: none; //0px -1px 0px darken($theme-danger, 50%);
$btn-danger-bg: ($theme-danger, $theme-danger); // 배경색들
$btn-danger-bg-image: "";
$btn-danger-border: 1px solid $theme-danger;
$btn-danger-drop-shadow: none; //0px 1px 0px 0px rgba(0,0,0,0.15);
	$btn-danger-hover-text-color:#fff;
	$btn-danger-hover-text-shadow: none; //0px -1px 0px darken($theme-danger, 50%);
	$btn-danger-hover-bg: ($theme-danger, $theme-danger);
	$btn-danger-hover-bg-image: "";
	$btn-danger-hover-border: 1px solid darken($theme-danger, 20%);
	$btn-danger-hover-drop-shadow: none; //0px 1px 0px 0px rgba(0,0,0,0.15);

$btn-link-text-color: $text-color;
$btn-link-text-shadow: none;
$btn-link-bg: (#fff, #fff); // 배경색들
$btn-link-bg-image: "";
$btn-link-border: 1px solid #fff;
$btn-link-drop-shadow: none;
	$btn-link-hover-text-color: $text-color;
	$btn-link-hover-text-shadow: none;
	$btn-link-hover-bg: (#fff, #fff);
	$btn-link-hover-bg-image: "";
	$btn-link-hover-border: 1px solid #fff;
	$btn-link-hover-drop-shadow: none;

$btn-special-text-color:#808080;
$btn-special-text-shadow: none; //0px -1px 0px darken($theme-special, 50%);
$btn-special-bg: (darken($theme-special, 10%), $theme-special); // 배경색들
$btn-special-bg-image: "";
$btn-special-border: 1px solid darken($theme-special, 20%);
$btn-special-drop-shadow: none; //0px 1px 0px 0px rgba(0,0,0,0.15);
	$btn-special-hover-text-color:#fff;
	$btn-special-hover-text-shadow: none; //0px -1px 0px darken($theme-special, 50%);
	$btn-special-hover-bg: ($theme-special, $theme-special);
	$btn-special-hover-bg-image: "";
	$btn-special-hover-border: 1px solid darken($theme-special, 20%);
	$btn-special-hover-drop-shadow: none; //0px 1px 0px 0px rgba(0,0,0,0.15);

$btn-link-disabled-color:        $gray-light;

//== Input
$input-font-weight:                normal;
$input-bg-disabled:              $gray-lighter;
$input-border-radius-base:        (6px, 6px, 6px, 6px);
$input-border-radius-large:       (8px, 8px, 8px, 8px);
$input-border-radius-small:       (3px, 3px, 3px, 3px);

//** Placeholder text color
$input-color-placeholder:        #999;

//** Default `.form-control` height
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2);
//** Large `.form-control` height
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
//** Small `.form-control` height
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);
//** XSmall `.form-control` height
$input-height-xs:             (floor($font-size-small * $line-height-small) + ($padding-xs-vertical * 2) + 2);

$input-default-text-color: #4A4A4A;
$input-default-text-shadow: 0px 1px 0px rgba(255,255,255, 0.5);
$input-default-bg: (#ffffff, #FFFFFF); // 배경색들
$input-default-bg-image: "";
$input-default-color-hover: #ccc;
$input-default-border: 1px solid #B4B4B4;
$input-default-drop-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15) inset;

$input-basic-text-color: darken($theme-basic, 20%);
$input-basic-text-shadow: none; //0px -1px 0px darken($theme-basic, 50%);
$input-basic-bg: (#ffffff, #FFFFFF); // 배경색들
$input-basic-bg-image: "";
$input-basic-color-hover: $theme-basic;
$input-basic-border: 1px solid lighten($theme-basic, 10%);
$input-basic-drop-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15) inset;

$input-good-text-color:darken($theme-good, 20%);
$input-good-text-shadow: none; //0px -1px 0px darken($theme-good, 50%);
$input-good-bg: (#ffffff, #FFFFFF); // 배경색들
$input-good-bg-image: "";
$input-good-color-hover: $theme-good;
$input-good-border: 1px solid darken($theme-good, 10%);
$input-good-drop-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15) inset;

$input-info-text-color:darken($theme-info, 20%);
$input-info-text-shadow: none; //0px -1px 0px rgba(0,0,0,0.9);
$input-info-bg: (#fff, #fff); // 배경색들
$input-info-bg-image: "";
$input-info-color-hover: $theme-info;
$input-info-border: 1px solid darken($theme-info, 0%);
$input-info-drop-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15) inset;

$input-warning-text-color:darken($theme-warning, 20%);
$input-warning-text-shadow: none; //0px -1px 0px darken($theme-warning, 50%);
$input-warning-bg: (#ffffff, #FFFFFF); // 배경색들
$input-warning-bg-image: "";
$input-warning-color-hover: $theme-warning;
$input-warning-border: 1px solid darken($theme-warning, 0%);
$input-warning-drop-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15) inset;

$input-danger-text-color: darken($theme-danger, 0%);
$input-danger-text-shadow: none; //0px -1px 0px darken($theme-danger, 50%);
$input-danger-bg: (#ffffff, #FFFFFF); // 배경색들
$input-danger-bg-image: "";
$input-danger-color-hover: $theme-danger;
$input-danger-border: 1px solid darken($theme-danger, 0%);
$input-danger-drop-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15) inset;

$input-special-text-color:darken($theme-special, 20%);
$input-special-text-shadow: none; //0px -1px 0px darken($theme-special, 50%);
$input-special-bg: (#ffffff, #FFFFFF); // 배경색들
$input-special-bg-image: "";
$input-special-color-hover: $theme-special;
$input-special-border: 1px solid darken($theme-special, 20%);
$input-special-drop-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15) inset;


//== Item group
//
//##

//** Background color on `.list-group-item`
$item-group-bg:                 #fff;
//** `.list-group-item` border color
$item-group-border:             #ddd;
//** List group border radius
$item-group-border-radius:      $border-radius-base;

//** Background color of single list items on hover
$item-group-hover-bg:           #f5f5f5;
//** Text color of active list items
$item-group-active-color:       $component-active-color;
//** Background color of active list items
$item-group-active-bg:          $component-active-bg;
//** Border color of active list elements
$item-group-active-border:      darken($item-group-active-bg, 10%);
//** Text color for content within active list items
$item-group-active-text-color:  lighten($item-group-active-bg, 40%);

//** Text color of disabled list items
$item-group-disabled-color:      $gray-light;
//** Background color of disabled list items
$item-group-disabled-bg:         $gray-lighter;
//** Text color for content within disabled list items
$item-group-disabled-text-color: $item-group-disabled-color;

$item-group-link-color:         #555;
$item-group-link-hover-color:   $item-group-link-color;
$item-group-link-heading-color: #333;


//** Situation
$item-group-good-bg: lighten($theme-good, 30%);
$item-group-good-border: #555;
$item-group-info-bg: lighten($theme-info, 20%);
$item-group-info-border: #fff;
$item-group-warning-bg: lighten($theme-warning, 20%);
$item-group-warning-border: #555;
$item-group-danger-bg: lighten($theme-danger, 20%);
$item-group-danger-border: #fff;
$item-group-link-bg: lighten($theme-link, 50%);
$item-group-link-border: #555;
$item-group-special-bg: lighten($theme-special, 10%);
$item-group-special-border: #fff;

//== Panels
$panel-box-model: border-box;
$panel-bg:                    #fff;
$panel-body-padding:          12px;
$panel-heading-padding:       10px 12px;
$panel-footer-padding:        $panel-heading-padding;
$panel-border-radius:         $border-radius-base;

//** Border color for elements within panels
$panel-inner-border:          1px solid #ddd;
$panel-footer-bg:             #f5f5f5;

$panel-default-text:          $gray-dark;
$panel-default-border:        1px solid #ddd;
$panel-default-heading-bg:    #f5f5f5;

$panel-basic-text:          #5A3100;
$panel-basic-border:        1px solid $theme-basic;
$panel-basic-heading-bg:    $theme-basic;

$panel-good-text:          $white;
$panel-good-border:        1px solid $theme-good;
$panel-good-heading-bg:    $theme-good;

$panel-info-text:          $white;
$panel-info-border:        1px solid $theme-info;
$panel-info-heading-bg:    $theme-info;

$panel-warning-text:          $white;
$panel-warning-border:        1px solid $theme-warning;
$panel-warning-heading-bg:    $theme-warning;

$panel-danger-text:          $white;
$panel-danger-border:        1px solid $theme-danger;
$panel-danger-heading-bg:    $theme-danger;

$panel-special-text:          $white;
$panel-special-border:        1px solid $theme-special;
$panel-special-heading-bg:    $theme-special;

//== Scroll
$scrollbar-track-bg: $gray-lighter;
$scrollbar-track-border: 1px solid $gray-light;
$scrollbar-track-thickness: 14px;
$scrollbar-track-radius: 7px;

$scrollbar-bg: $gray-light;
$scrollbar-border: 1px solid $gray-lighter;
$scrollbar-thickness: 12px;
$scrollbar-radius: 6px;

$scrollbar-second-track-bg: $gray-lighter;
$scrollbar-second-track-border: 0px none;
$scrollbar-second-track-thickness: 10px;
$scrollbar-second-track-radius: 1px;

$scrollbar-second-bg: $theme-basic;
$scrollbar-second-border: 0px none;
$scrollbar-second-thickness: 10px;
$scrollbar-second-radius: 0px;


//== Badges
$badge-color:                 #fff;
//** Linked badge text color on hover
$badge-link-hover-color:      #fff;
$badge-bg:                    $gray-light;

//** Badge text color in active nav link
$badge-active-color:          $link-color;
//** Badge background color in active nav link
$badge-active-bg:             #fff;

$badge-font-weight:           bold;
$badge-line-height:           1;
$badge-border-radius:         10px;


//== Mask
$mask-z-index: 1000;
$mask-bg: $gray-dark;
$mask-bg-opacity: 0.6;
$mask-text-color: $gray-lighter;
$mask-text-shadow: 0px 1px 0px $black;
$mask-over-z-index: 2000;

//== dialog
$dialog-box-model: $panel-box-model;
$dialog-bg: $panel-bg;
$dialog-border: 1px solid rgb(255/2, 255/2, 255/2);
$dialog-box-shaodw: 0px 0px 4px 0px rgba(0,0,0,0.50);
$dialog-body-padding: $panel-body-padding;
$dialog-heading-padding: $panel-heading-padding;
$dialog-border-radius: $panel-border-radius;

//** Border color for elements within dialog
$dialog-default-text: $panel-default-text;
$dialog-default-heading-bg: $panel-default-heading-bg;

$dialog-basic-text: $panel-basic-text;
$dialog-basic-heading-bg: $panel-basic-heading-bg;

$dialog-good-text: $panel-good-text;
$dialog-good-heading-bg: $panel-good-heading-bg;

$dialog-info-text: $panel-info-text;
$dialog-info-heading-bg: $panel-info-heading-bg;

$dialog-warning-text: $panel-warning-text;
$dialog-warning-heading-bg: $panel-warning-heading-bg;

$dialog-danger-text: $panel-danger-text;
$dialog-danger-heading-bg: $panel-danger-heading-bg;

$dialog-special-text: $panel-special-text;
$dialog-special-heading-bg: $panel-special-heading-bg;


//== toast
$toast-container-position: 1; // 0:left,top / 1:right,top / 2:right,bottom / 3:left,bottom
$toast-container-margin: 10px;
$toast-box-model: $panel-box-model;
$toast-border: 1px solid rgb(255/2, 255/2, 255/2);
$toast-box-shaodw: 0px 0px 5px 0px rgba(0,0,0,0.60);
$toast-body-padding: 6px;
$toast-border-radius: 8px;

//** Border color for elements within toast
$toast-default-text: $panel-default-text;
$toast-default-bg: $panel-bg;
$toast-default-color: $text-color;

$toast-basic-text: $panel-default-text;
$toast-basic-bg: $panel-bg;
$toast-basic-color: $panel-basic-heading-bg;

$toast-good-text: $panel-default-text;
$toast-good-bg: $panel-bg;
$toast-good-color: $panel-good-heading-bg;

$toast-info-text: $panel-default-text;
$toast-info-bg: $panel-bg;
$toast-info-color: $panel-info-heading-bg;

$toast-warning-text: $panel-default-text;
$toast-warning-bg: $panel-bg;
$toast-warning-color: $panel-warning-heading-bg;

$toast-danger-text: $panel-default-text;
$toast-danger-bg: $panel-bg;
$toast-danger-color: $panel-danger-heading-bg;

$toast-special-text: $panel-default-text;
$toast-special-bg: $panel-bg;
$toast-special-color: $panel-special-heading-bg;

//== touch-grid
$touch-grid-header-bg: (#FFFFFF, #F1F1F1); // 그리드 헤더 배경색들
$touch-grid-header-border: 2px solid #BCBCBD;
$touch-grid-header-padding: 0px $padding-base-horizontal;

$touch-grid-body-bg: (#FFFFFF, #FFFFFF);
$touch-grid-body-border: 2px solid #BCBCBD;
$touch-grid-body-padding: 0px $padding-base-horizontal;

$touch-grid-body-even-bg: (#FFFFFF, #FFFFFF);
$touch-grid-body-hover-bg: (#F7F7F7, #F7F7F7);
$touch-grid-body-focus-bg: (#F0F0F0, #F0F0F0);

//== calendar
$calendar-control-bg: (#FFFFFF, #F0F0F0);
$calendar-control-border: 1px solid #B4B4B4;
$calendar-control-border-radius: 2px;
$calendar-control-font-size: ceil(($font-size-base * 1.25));

$calendar-header-bg: (#FFFFFF, #FFFFFF);
$calendar-header-border: 0px none;
$calendar-header-padding: 10px 2px;
$calendar-header-font-size: ceil(($font-size-base * 0.8));

$calendar-body-bg: (#FFFFFF, #FFFFFF);
$calendar-body-border: 0px none;
$calendar-body-font-size: $font-size-base;

$calendar-sun-text-color: #C78B81;
$calendar-sat-text-color: #32B4DC;

$calendar-date-bg: (#FFFFFF, #FFFFFF);
$calendar-date-text-color: #C3C4C6;
$calendar-live-bg: (#F0F0F0, #F0F0F0);
$calendar-live-text-color: #6D6E70;
$calendar-hover-bg: (#32B4DC, #32B4DC);
$calendar-hover-text-color: #fff;
$calendar-focus-bg: (#E67241, #E67241);
$calendar-focus-text-color: #fff;

//== component-grid
$component-grid-addon-bg: (#002A4F, #002A4F);
$component-grid-addon-text-color: #fff;

//== modal
$modal-box-model: $panel-box-model;
$modal-bg: $panel-bg;
$modal-border: 1px solid rgb(255/2, 255/2, 255/2);
$modal-box-shaodw: 0px 0px 4px 0px rgba(0,0,0,0.50);
$modal-body-padding: $panel-body-padding;
$modal-heading-padding: 0px 12px;
$modal-border-radius: $panel-border-radius;

//** Border color for elements within modal
$modal-default-text: $panel-default-text;
$modal-default-heading-bg: darken($panel-default-heading-bg, 5%);

$modal-basic-text: $panel-basic-text;
$modal-basic-heading-bg: $panel-basic-heading-bg;

$modal-good-text: $panel-good-text;
$modal-good-heading-bg: $panel-good-heading-bg;

$modal-info-text: $panel-info-text;
$modal-info-heading-bg: $panel-info-heading-bg;

$modal-warning-text: $panel-warning-text;
$modal-warning-heading-bg: $panel-warning-heading-bg;

$modal-danger-text: $panel-danger-text;
$modal-danger-heading-bg: $panel-danger-heading-bg;

$modal-special-text: $panel-special-text;
$modal-special-heading-bg: $panel-special-heading-bg;

//== progress
$progress-bg: #eee;
$progress-border: 2px solid #979797;
$progress-bar-height: 20px;
$progress-padding: 4px;
$progress-border-radius: 10px;

//** color for elements within modal
$progress-default-bar-bg: (#FFFFFF, #F0F0F0); // 배경색들;
$progress-default-bar-border: 2px solid #aaa;
$progress-default-status-color: #444;

$progress-basic-bar-bg: (lighten($theme-basic, 10%), $theme-basic); // 배경색들;
$progress-basic-bar-border: 1px solid $theme-basic;
$progress-basic-status-color: #fff;

$progress-good-bar-bg: (lighten($theme-good, 10%), $theme-good);
$progress-good-bar-border: 1px solid $theme-good;
$progress-good-status-color: #fff;

$progress-info-bar-bg: (lighten($theme-info, 10%), $theme-info);
$progress-info-bar-border: 1px solid $theme-info;
$progress-info-status-color: #fff;

$progress-warning-bar-bg: (lighten($theme-warning, 10%), $theme-warning);
$progress-warning-bar-border: 1px solid $theme-warning;
$progress-warning-status-color: #fff;

$progress-danger-bar-bg: (lighten($theme-danger, 10%), $theme-danger);
$progress-danger-bar-border: 1px solid $theme-danger;
$progress-danger-status-color: #fff;

$progress-special-bar-bg: (lighten($theme-special, 10%), $theme-special);
$progress-special-bar-border: 1px solid $theme-special;
$progress-special-status-color: #fff;