.main {
  padding: 20px 20px;
  margin-left: 250px;
}
.main .page-title {
  display: none;
}
.main a {
  color: #6fafe0;
}
.main h1 {
  font-weight: bold;
  font-size: 1.6em;
  margin: 0;
}
.main h2 {
  position: relative;
  font-size: 2em;
  font-weight: normal;
  padding: 0px 0px 0.6em 0px;
  margin: 0.5em 0px 1em 0px;
}
.main h2 a {
  color: #000;
}
.main h3 {
  font-weight: bold;
  font-size: 12px;
  margin: 5px 0;
}
.main h4 {
  font-weight: bold;
  font-size: 1em;
}
.main h5 {
  font-weight: bold;
  font-size: 12px;
  margin: 5px;
  color: #888;
}
.main dd {
  font-size: 12px;
}
.main h4.name span.type-signature {
  display: inline-block;
  border-radius: 3px;
  background-color: gray;
  color: #fff;
  font-size: 0.7em;
  padding: 2px 4px;
}
.main h4.name span.type-signature a {
  color: #ffffff;
}
.main h4.name span.type {
  margin-left: 5px;
}
.main h4.name span.glyphicon {
  display: inline-block;
  vertical-align: middle;
  color: #e1e1e1;
  margin-left: 7px;
}
.main h4.name span.returnType {
  margin-left: 3px;
  background-color: transparent!important;
  color: #6fafe0!important;
}
.main h4.name span.returnType a {
  color: #6fafe0!important;
}
.main span.static {
  display: inline-block;
  border-radius: 3px;
  background-color: #f06433 !important;
  color: #fff;
  font-size: 0.7em;
  padding: 2px 4px;
  margin-right: 8px;
}
.main span.number {
  background-color: gray!important;
}
.main span.string {
  background-color: gray!important;
}
.main span.object {
  background-color: #2a6496 !important;
}
.main span.array {
  background-color: #2a6496 !important;
}
.main span.boolean {
  background-color: #ee7d7d !important;
}
.main .subsection-title {
  font-size: 18px;
  margin-top: 30px;
  color: #f06433;
}
.main .description {
  margin-top: 10px;
  font-size: 13px;
}
.main .description p {
  font-size: 13px;
}
.main .tag-source {
  font-size: 12px;
}
.main dt.tag-source {
  margin-top: 5px;
}
.main dt.tag-todo {
  font-size: 10px;
  display: inline-block;
  background-color: #2a6496;
  color: #fff;
  padding: 2px 4px;
  border-radius: 5px;
}
.main .type-signature {
  font-size: 12px;
}
.main .tag-deprecated {
  display: inline-block;
  font-size: 10px;
}
.main .important {
  background-color: #ee7d7d;
  color: #fff;
  padding: 2px 4px;
  border-radius: 5px;
}
.main .nameContainer {
  position: relative;
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px dashed #ccc;
}
.main .nameContainer .inherited {
  display: inline-block;
  border-radius: 3px;
  background-color: #888!important;
  font-size: 0.7em;
  padding: 2px 4px;
  margin-right: 5px;
}
.main .nameContainer .inherited a {
  color: #fff;
}
.main .nameContainer .tag-source {
  position: absolute;
  top: 17px;
  right: 0;
  font-size: 10px;
}
.main .nameContainer .tag-source i.axi {
  font-size: 13px;
}
.main .nameContainer .tag-source a {
  color: gray;
}
.main .nameContainer.inherited {
  color: gray;
}
.main .nameContainer h4 {
  font-size: 15px;
  margin: 0px;
  padding: 15px 0px;
  margin-right: 150px;
  line-height: 1.3;
}
.main .nameContainer h4 .signature {
  font-size: 13px;
  font-weight: normal;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.main pre {
  font-size: 11px;
}
.main table.params {
  margin-bottom: 15px;
  border-collapse: collapse;
}
.main table.params th {
  padding: 2px 5px;
  text-align: left;
  border-left: 1px solid #d6d6d6;
  background: #eee;
}
.main table.params th.last {
  padding-right: 50px;
}
.main table.params td {
  vertical-align: top;
  padding: 2px 5px;
  padding-right: 10px;
  border-left: 1px solid #d6d6d6;
}
.main table.params tr:nth-child(even) td {
  background: #eee;
}
.main table.params .name {
  min-width: 100px;
}
.main table.params .type {
  min-width: 100px;
  color: #6fafe0;
  font-size: 11px;
}
.main table.params .type a {
  color: #6fafe0;
}
.main table.params .attributes {
  min-width: 80px;
  color: #aaa;
  font-size: 11px;
}
.main table.params .description {
  font-size: 12px;
  white-space: nowrap;
}
.main table.params .description p {
  margin: 0;
  display: inline;
}
.main table.params .optional {
  display: inline-block;
  border-radius: 3px;
  background-color: #ddd!important;
  font-size: 0.7em;
  padding: 0px 4px;
  margin-right: 5px;
  color: gray;
}
.main .readme p {
  margin-top: 15px;
  line-height: 1.5;
  font-size: 13px;
}
.main .readme h1 {
  font-size: 1.7em;
}
.main .readme h2 {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.main .readme li {
  font-size: 0.9em;
  margin-bottom: 10px;
}
.main article ol,
.main article ul {
  margin-left: 25px;
}
.main article ol > li {
  list-style-type: decimal;
  margin-bottom: 5px;
}
.main article ul > li {
  margin-bottom: 5px;
  list-style-type: disc;
}
.main article ul > li a {
  color: #6fafe0;
}
.main article dd {
  margin: 0px;
}
.main article blockquote {
  margin: 0px;
  padding: 0 15px;
  border-left: 4px solid #ddd;
  font-style: italic;
}
.main article blockquote p {
  color: #aaa;
}
.main article .prettyprint {
  padding: 10px;
  background: #414141;
}
.main article .prettyprint ol {
  margin: 0px;
  margin-left: 40px;
}
.main article .prettyprint li {
  margin: 0px;
  color: #aaa;
  background: #393939;
}
.main article pre.prettyprint {
  width: auto;
  margin: 0px;
  font-size: 12px;
  word-break: break-all;
}
.main article pre.prettyprint li {
  word-break: break-all;
}
.main article pre.prettyprint li code span {
  white-space: pre-wrap;
}
