/* less loop
.generate-height-class(9);
.generate-height-class(@n, @i: 1) when (@i =< @n) {
  .height@{i} {
    height: 1px * @i;
  }
  .generate-height-class(@n, (@i + 1));
}
*/
.ax5-text {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
}
a.ax5-text {
  color: #337ab7;
  text-decoration: none;
}
a.ax5-text:hover {
  color: #23527c;
  text-decoration: underline;
}
.ax5-text.align-left {
  text-align: left;
}
.ax5-text.align-right {
  text-align: right;
}
.ax5-text.align-center {
  text-align: center;
}
.ax5-text.align-justify {
  text-align: justify;
}
.ax5-text.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ax5-text.lowercase {
  text-transform: lowercase;
}
.ax5-text.uppercase {
  text-transform: uppercase;
}
.ax5-text.capitalize {
  text-transform: capitalize;
}
.ax5-text.mute {
  color: #777777;
}
.ax5-text.basic {
  color: #337ab7;
}
a.ax5-text.basic:hover {
  color: #286090;
}
.ax5-text.good {
  color: #5cb85c;
}
a.ax5-text.good:hover {
  color: #449d44;
}
.ax5-text.info {
  color: #5bc0de;
}
a.ax5-text.info:hover {
  color: #31b0d5;
}
.ax5-text.warning {
  color: #f0ad4e;
}
a.ax5-text.warning:hover {
  color: #ec971f;
}
.ax5-text.danger {
  color: #d9534f;
}
a.ax5-text.danger:hover {
  color: #c9302c;
}
.ax5-text.special {
  color: #bc4cd0;
}
a.ax5-text.special:hover {
  color: #a430b9;
}
.ax5-btn {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  background-color: #337ab7;
  box-sizing: border-box;
}
.ax5-btn.align-left {
  text-align: left;
}
.ax5-btn.align-right {
  text-align: right;
}
.ax5-btn.align-center {
  text-align: center;
}
.ax5-btn.align-justify {
  text-align: justify;
}
.ax5-btn.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ax5-btn.lowercase {
  text-transform: lowercase;
}
.ax5-btn.uppercase {
  text-transform: uppercase;
}
.ax5-btn.capitalize {
  text-transform: capitalize;
}
.ax5-btn.mute {
  color: #777777;
}
.ax5-btn.basic {
  color: #337ab7;
}
a.ax5-btn.basic:hover {
  color: #286090;
}
.ax5-btn.good {
  color: #5cb85c;
}
a.ax5-btn.good:hover {
  color: #449d44;
}
.ax5-btn.info {
  color: #5bc0de;
}
a.ax5-btn.info:hover {
  color: #31b0d5;
}
.ax5-btn.warning {
  color: #f0ad4e;
}
a.ax5-btn.warning:hover {
  color: #ec971f;
}
.ax5-btn.danger {
  color: #d9534f;
}
a.ax5-btn.danger:hover {
  color: #c9302c;
}
.ax5-btn.special {
  color: #bc4cd0;
}
a.ax5-btn.special:hover {
  color: #a430b9;
}
