/* less loop
.generate-height-class(9);
.generate-height-class(@n, @i: 1) when (@i =< @n) {
  .height@{i} {
    height: 1px * @i;
  }
  .generate-height-class(@n, (@i + 1));
}
*/


.get-text-link(@color) {
	color: @color;
	a&:hover {
		color: darken(@color, 10%);
	}
}