/* line 2, ../../scss/_ax5-text.scss */
.align-left {
  text-align: left;
}

/* line 3, ../../scss/_ax5-text.scss */
.align-right {
  text-align: right;
}

/* line 4, ../../scss/_ax5-text.scss */
.align-center {
  text-align: center;
}

/* line 5, ../../scss/_ax5-text.scss */
.align-justify {
  text-align: justify;
}

/* line 6, ../../scss/_ax5-text.scss */
.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 9, ../../scss/_ax5-text.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 10, ../../scss/_ax5-text.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 11, ../../scss/_ax5-text.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 14, ../../scss/_ax5-text.scss */
.mute {
  color: #777777;
}

/* line 15, ../../scss/_ax5-text.scss */
.basic {
  color: #337ab7;
}
/* line 5, ../../scss/_utilities.scss */
.basic:hover {
  color: #286090;
}

/* line 16, ../../scss/_ax5-text.scss */
.good {
  color: #5cb85c;
}
/* line 5, ../../scss/_utilities.scss */
.good:hover {
  color: #449d44;
}

/* line 17, ../../scss/_ax5-text.scss */
.info {
  color: #5bc0de;
}
/* line 5, ../../scss/_utilities.scss */
.info:hover {
  color: #31b0d5;
}

/* line 18, ../../scss/_ax5-text.scss */
.warning {
  color: #f0ad4e;
}
/* line 5, ../../scss/_utilities.scss */
.warning:hover {
  color: #ec971f;
}

/* line 19, ../../scss/_ax5-text.scss */
.danger {
  color: #d9534f;
}
/* line 5, ../../scss/_utilities.scss */
.danger:hover {
  color: #c9302c;
}

/* line 20, ../../scss/_ax5-text.scss */
.special {
  color: #bc4cd0;
}
/* line 5, ../../scss/_utilities.scss */
.special:hover {
  color: #a430b9;
}

/* line 30, ../../scss/_ax5-text.scss */
.ax5 {
  color: #333333;
  font-size: 13px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
}

/* line 31, ../../scss/_ax5-text.scss */
a.ax5 {
  color: #337ab7;
  text-decoration: none;
}
/* line 34, ../../scss/_ax5-text.scss */
a.ax5:hover {
  color: #23527c;
  text-decoration: underline;
}

/* line 42, ../../scss/_ax5-text.scss */
.ax5.mute {
  color: #777777;
}
/* line 43, ../../scss/_ax5-text.scss */
.ax5.basic {
  color: #337ab7;
}
/* line 5, ../../scss/_utilities.scss */
.ax5.basic:hover {
  color: #286090;
}
/* line 44, ../../scss/_ax5-text.scss */
.ax5.good {
  color: #5cb85c;
}
/* line 5, ../../scss/_utilities.scss */
.ax5.good:hover {
  color: #449d44;
}
/* line 45, ../../scss/_ax5-text.scss */
.ax5.info {
  color: #5bc0de;
}
/* line 5, ../../scss/_utilities.scss */
.ax5.info:hover {
  color: #31b0d5;
}
/* line 46, ../../scss/_ax5-text.scss */
.ax5.warning {
  color: #f0ad4e;
}
/* line 5, ../../scss/_utilities.scss */
.ax5.warning:hover {
  color: #ec971f;
}
/* line 47, ../../scss/_ax5-text.scss */
.ax5.danger {
  color: #d9534f;
}
/* line 5, ../../scss/_utilities.scss */
.ax5.danger:hover {
  color: #c9302c;
}
/* line 48, ../../scss/_ax5-text.scss */
.ax5.special {
  color: #bc4cd0;
}
/* line 5, ../../scss/_utilities.scss */
.ax5.special:hover {
  color: #a430b9;
}

/* line 1, ../../scss/_ax5-btn.scss */
.ax5-btn {
  color: #333333;
  font-size: 13px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 13px;
  line-height: 1.42857;
  border-radius: 4px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
/* line 21, ../../scss/_ax5-btn.scss */
.ax5-btn:focus, .ax5-btn.focus, .ax5-btn:active:focus, .ax5-btn:active.focus, .ax5-btn.active:focus, .ax5-btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 27, ../../scss/_ax5-btn.scss */
.ax5-btn:hover, .ax5-btn:focus, .ax5-btn.focus {
  color: #333;
  text-decoration: none;
}
/* line 34, ../../scss/_ax5-btn.scss */
.ax5-btn:active, .ax5-btn.active {
  outline: 0;
  background-image: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
}
/* line 41, ../../scss/_ax5-btn.scss */
.ax5-btn.disabled, .ax5-btn[disabled], fieldset[disabled] .ax5-btn {
  cursor: not-allowed;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 20, ../../scss/_utilities.scss */
.ax5-btn:hover, .ax5-btn:focus, .ax5-btn.focus, .ax5-btn:active, .ax5-btn.active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
/* line 29, ../../scss/_utilities.scss */
.ax5-btn:active, .ax5-btn.active {
  background-image: none;
}
/* line 36, ../../scss/_utilities.scss */
.ax5-btn.disabled, .ax5-btn.disabled:hover, .ax5-btn.disabled:focus, .ax5-btn.disabled.focus, .ax5-btn.disabled:active, .ax5-btn.disabled.active, .ax5-btn[disabled], .ax5-btn[disabled]:hover, .ax5-btn[disabled]:focus, .ax5-btn[disabled].focus, .ax5-btn[disabled]:active, .ax5-btn[disabled].active, fieldset[disabled] .ax5-btn, fieldset[disabled] .ax5-btn:hover, fieldset[disabled] .ax5-btn:focus, fieldset[disabled] .ax5-btn.focus, fieldset[disabled] .ax5-btn:active, fieldset[disabled] .ax5-btn.active {
  background-color: #fff;
  border-color: #ccc;
}
/* line 47, ../../scss/_utilities.scss */
.ax5-btn .badge {
  color: #fff;
  background-color: #333;
}
