<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ax5</title>
	
    <link rel="stylesheet" type="text/css" href="../plugin/prettify/github.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="../src/css/jellyfish/ax5.css">
	<link rel="stylesheet" type="text/css" href="http://cdn.axisj.com/axicon/axicon.min.css">
	
    <script type="text/javascript" src="../plugin/prettify/prettify.js"></script>
    <script type="text/javascript" src="../src/ax5-polyfill.js"></script>
    <script type="text/javascript" src="../src/ax5-core.js"></script>
    <script type="text/javascript" src="../src/ax5-xhr.js"></script>
    <script type="text/javascript" src="../src/ax5-ui.js"></script>
	
	    
</head>
<body>

<div class="app-nav">
	<div class="box-bg"></div>
	<div class="box-content">
		<a href="#" class="logo">AX5</a>
		<ul class="menu">
			<li class="vline"></li>
			<li><a href="index.html">AX5.dom</a></li>
			<li class="vline"></li>
			<li><a href="css.html">CSS</a></li>
			<li class="vline"></li>
			<li><a href="ui-class.html">UI Class</a></li>
			<li class="vline"></li>
			<li><a href="customize.html">Customize</a></li>
			<li class="vline"></li>
		</ul>
	</div>
</div>