<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ax5</title>
	
    <link rel="stylesheet" type="text/css" href="../plugin/prettify/github.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="" id="ax5-theme">
	<link rel="stylesheet" type="text/css" href="http://cdn.axisj.com/axicon/axicon.min.css">
	
    <script type="text/javascript" src="../plugin/prettify/prettify.js"></script>
    <script type="text/javascript" src="../src/ax5.js"></script>

</head>
<body>

<div class="app-nav">
	<div class="box-bg"></div>
	<div class="box-content">
		<a href="#" class="logo">AX5</a>
		<ul class="menu">
			<li class="vline"></li>
			<li><a href="index.html">JS Core</a></li>
			<li class="vline"></li>
			<li><a href="css.html">CSS</a></li>
			<li class="vline"></li>
			<li><a href="ui-class.html">UI Class</a></li>
			<li class="vline"></li>
			<li><a href="#" onclick="alert('준비중인 컨텐츠 입니다.');">Customize</a></li>
			<li class="vline"></li>
			<li><a href="/jsdoc/">JSDOC</a></li>
			<li class="vline"></li>
		</ul>
		<div class="theme-selector">
			<select class="ax-select" id="ax5-theme-select"></select>
		</div>
	</div>
</div>