/* line 2, ../scss/ax5-text.scss */
.align-left {
  text-align: left;
}

/* line 3, ../scss/ax5-text.scss */
.align-right {
  text-align: right;
}

/* line 4, ../scss/ax5-text.scss */
.align-center {
  text-align: center;
}

/* line 5, ../scss/ax5-text.scss */
.align-justify {
  text-align: justify;
}

/* line 6, ../scss/ax5-text.scss */
.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 9, ../scss/ax5-text.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 10, ../scss/ax5-text.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 11, ../scss/ax5-text.scss */
.capitalize {
  text-transform: capitalize;
}
