// btn Linear Gradient
@mixin calendar-table($padding, $border, $cell-border) {
	table{
		box-sizing: border-box;
		table-layout: fixed;
		border-collapse: collapse;
		border-spacing: 0px;
		tbody {
			td, th {
				box-sizing: border-box;
				padding: $padding;
				padding-top: 2px;
				vertical-align: middle;
				line-height: 1em;
				cursor: pointer;
				&:not(:last-child){
					border-right: $border;
				}
				@if($cell-border != ""){
					border-bottom: $border;
				}
			}
		}
	}
}

// mixins --------------------------------------------- end

.ax5-ui-calender {
	height: 100%;
	box-sizing: border-box;
	position:relative;
	overflow:hidden;
	.calender-main{

	}
}