// setup of link color on "hover"
@mixin get-text-link($color) {
  color: $color;
  &:hover {
	color: darken($color, 10%);
  }
}

// mixins --------------------------------------------- end

// ax5-text
.align-left{ text-align: left; }
.align-right{ text-align: right; }
.align-center{ text-align: center; }
.align-justify{ text-align: justify; }
.nowrap{ white-space: nowrap;text-overflow: ellipsis;overflow: hidden; }

// Transformation
.lowercase{ text-transform: lowercase; }
.uppercase{ text-transform: uppercase; }
.capitalize{ text-transform: capitalize; }

// situation

// ax5-text
@mixin ax{
  color: $text-color;
  //font-size: $font-size-base;
  //font-weight: $font-weight;
  //font-family: $font-family-base;
  //line-height: $line-height-computed;
}
.ax{ @include ax; }
a.ax{
  color:$link-color;
  text-decoration: $link-decoration;
  &:hover{
    color:$link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  &.mute{color: $theme-muted;}
  &.basic{@include get-text-link($basic-text-color);}
  &.good{@include get-text-link($good-text-color);}
  &.info{@include get-text-link($info-text-color);}
  &.warning{@include get-text-link($warning-text-color);}
  &.danger{@include get-text-link($danger-text-color);}
  &.special{@include get-text-link($special-text-color);}
}

.ax{
  // situation
  &.mute{color: $theme-muted;}
  &.basic{@include get-text-link($basic-text-color);}
  &.good{@include get-text-link($good-text-color);}
  &.info{@include get-text-link($info-text-color);}
  &.warning{@include get-text-link($warning-text-color);}
  &.danger{@include get-text-link($danger-text-color);}
  &.special{@include get-text-link($special-text-color);}
}