@mixin component-grid-table-layout(){
	table {
		table-layout: fixed;
		border-collapse: collapse;
		border-spacing: 0px;
		border: 0px none;
		width: 100%;
		td {
			position: relative;
			box-sizing: content-box;
			padding: 0px;
			margin: 0px;
			vertical-align: top;
			.ax-item-wraper {
				padding: 3px;
				box-sizing: border-box;
			}
			.ax-btn {
				vertical-align: middle;
				position: relative;
				margin: 0px;
				width: 100%;
				height: 100%;
			}
		}
	}
}

// mixins --------------------------------------------- end

.ax5-ui-component-grid {
	display: table;
	.component-grid-body {
		display: table-cell;
		vertical-align: top;
		@include component-grid-table-layout();

		.ax-btn {
			@include display(flex);
			@include align-items(center);
			@include flex-direction(column);

			.label{
				font-size: ceil(($font-size-base * 1.5));
				padding: 5px 0px;
			}
			&.selected{

			}
		}
		.has-addon {
			.ax-btn {
				.label{
					@include flex(1);
					padding: 10px 0px;
					font-size: ceil(($font-size-base * 1.2));
				}
				.addon{
					@include flex(none);
					position: relative;
					font-size: ceil(($font-size-base * 1));
					background: #002A4F;
					@include ax-gradient(nth($component-grid-addon-bg, 1), nth($component-grid-addon-bg, 2));
					color: $component-grid-addon-text-color;
					border-radius: 10px;
					text-shadow: none;
					padding: 3px;
				}
			}
		}
	}
	.component-grid-control{
		display: table-cell;
		vertical-align: top;
		@include component-grid-table-layout();
		table{
			td{
				.ax-btn{
					font-size: ceil(($font-size-base * 2.5));
					text-align: center;
					padding:0px;
				}
			}
		}
	}
}