//
@mixin ax-panel(){
	@include ax();
	box-sizing : $panel-box-model;
	background-color: $panel-bg;
	border: 1px solid transparent;
	
	@include ax-border-radius($panel-border-radius);
	@include box-shadow(0 1px 1px rgba(0,0,0,.05));

	.ax-panel-heading{
		font-size: 1.5em;
		font-weight: 600;
		padding: $panel-heading-padding;
		border-bottom: 1px solid transparent;
		//background: $panel-default-heading-bg;
		@include ax-border-radius($panel-border-radius, "top", -1);
		.badge {
			font-size: 0.8em;
			color: $panel-default-heading-bg;
			background-color: $panel-default-text;
		}
	}
	.ax-panel-body{
		padding: $panel-body-padding;
	}
	.ax-panel-foot{
		padding: $panel-footer-padding;
		@include ax-border-radius($panel-border-radius, "bottom", -1);
	}
}

@mixin panel-variant($border, $text-color, $heading-bg-color, $heading-border) {
	border: $border;
	.ax-panel-heading{
		color: $text-color;
		background: $heading-bg-color;
		.badge {
			color: $heading-bg-color;
			background-color: $text-color;
		}
	}
	.ax-panel-body{

	}
	.ax-panel-foot{
		color: $text-color;
		background: $heading-bg-color;
	}
}

// mixins --------------------------------------------- end
.ax-panel{
	@include ax-panel();
	@include panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
	
	&.basic{
		@include panel-variant($panel-basic-border, $panel-basic-text, $panel-basic-heading-bg, $panel-basic-border);
	}
	&.good{
		@include panel-variant($panel-good-border, $panel-good-text, $panel-good-heading-bg, $panel-good-border);
	}
	&.info{
		@include panel-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
	}
	&.warning{
		@include panel-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
	}
	&.danger{
		@include panel-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
	}
	&.special{
		@include panel-variant($panel-special-border, $panel-special-text, $panel-special-heading-bg, $panel-special-border);
	}
}

.ax-scroll{
	@include ax-panel();
}
.ax-menu{
	@include ax-panel();
}
.ax-tab {
	@include ax-panel();
}
.ax-toolbar {
	@include ax-panel();
}
.ax-label {
	@include ax-panel();
}
