// btn Linear Gradient
@mixin ax5-btn-gradient ($start: #ffffff, $stop: $start) {
  background: $start;
  @include background-image(linear-gradient(top, $start, $stop));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#{$start}, endColorstr=#{$stop});
}

// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($text-color, $text-shadow, $bg, $bg-image, $border, $drop-shadow) {
  color: $text-color;
  text-shadow: $text-shadow;
  border: $border;
  //@include border-radius($border-radius);

  @if($bg-image == "") 	{ @include ax5-btn-gradient(nth($bg, 1), nth($bg, 2)); }
  @else						{ @include background-image($bg-image); }
  @include box-shadow($drop-shadow);

  &:hover,
  &:focus,
  &.focus {
	text-decoration: none;
	background: nth($bg, 2);
  }
  &:active,
  &.active {
	outline: 0;
	background-image: none;
	@include box-shadow(rgba(0,0,0,0.125) 0 3px 5px inset);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
	cursor: $cursor-disabled;
	pointer-events: none; // Future-proof disabling of clicks
	@include opacity(.65);
	@include box-shadow(none);
  }

  
  .badge {
	color: nth($bg,1);
	background-color: nth($bg,1);
  }
}
// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

//@warn "Assuming #{$btn-bg} to be in pixels";

.ax5-btn {
  @include ax5();
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  
  color: $btn-default-text-color;
  text-shadow: $btn-default-text-shadow;
  border: $btn-default-border;
  @include border-radius($btn-default-border-radius);
  
  @if($btn-default-bg-image == "") 	{ @include ax5-btn-gradient(nth($btn-default-bg, 1), nth($btn-default-bg, 2)); }
  @else						{ @include background-image($btn-default-bg-image); }
  @include box-shadow($btn-default-drop-shadow);
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
  @include user-select(none);

  &,
  &:active,
  &.active {
	&:focus,
	&.focus {
	  @include tab-focus();
	}
  }
  
  &:hover,
  &:focus,
  &.focus {
	text-decoration: none;
	background: nth($btn-default-bg, 2);
  }

  &:active,
  &.active {
	outline: 0;
	background-image: none;
	@include box-shadow(rgba(0,0,0,0.125) 0 3px 5px inset);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
	cursor: $cursor-disabled;
	pointer-events: none; // Future-proof disabling of clicks
	@include opacity(.65);
	@include box-shadow(none);
  }

  // situation
  &.basic{
	@include button-variant($btn-basic-text-color, $btn-basic-text-shadow, $btn-basic-bg, $btn-basic-bg-image, $btn-basic-border, $btn-basic-drop-shadow);
  }
  &.good{
	@include button-variant($btn-good-text-color, $btn-good-text-shadow, $btn-good-bg, $btn-good-bg-image, $btn-good-border, $btn-good-drop-shadow);
  }
  &.info{
	@include button-variant($btn-info-text-color, $btn-info-text-shadow, $btn-info-bg, $btn-info-bg-image, $btn-info-border, $btn-info-drop-shadow);
  }
  &.warning{
	@include button-variant($btn-warning-text-color, $btn-warning-text-shadow, $btn-warning-bg, $btn-warning-bg-image, $btn-warning-border, $btn-warning-drop-shadow);
  }
  &.danger{
	@include button-variant($btn-danger-text-color, $btn-danger-text-shadow, $btn-danger-bg, $btn-danger-bg-image, $btn-danger-border, $btn-danger-drop-shadow);
  }
  &.link{
	@include button-variant($btn-link-text-color, $btn-link-text-shadow, $btn-link-bg, $btn-link-bg-image, $btn-link-border, $btn-link-drop-shadow);
  }
  &.special{
	@include button-variant($btn-special-text-color, $btn-special-text-shadow, $btn-special-bg, $btn-special-bg-image, $btn-special-border, $btn-special-drop-shadow);
  }

  // size
  &.lg {
	// line-height: ensure even-numbered height of button next to large input
	@include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
  }
  &.sm {
	// line-height: ensure proper height of button next to small input
	@include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
  }
  &.xs {
	@include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
  }
}


/*
.ax5-btn{

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(rgba(0,0,0,0.125) 0 3px 5px inset);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
  }

  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);

  // situation
  &.basic{
	@include button-variant($btn-basic-color, $btn-basic-bg, $btn-basic-border);
  }
  &.good{
	@include button-variant($btn-good-color, $btn-good-bg, $btn-good-border);
  }
  &.info{
	@include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);	
  }
  &.warning{
	@include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
  }
  &.danger{
	@include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
  }
  &.special{
	@include button-variant($btn-special-color, $btn-special-bg, $btn-special-border);
  }
  &.link{
	@include button-variant($btn-link-color, $btn-link-bg, $btn-link-border);
  }

  // size
  &.lg {
	// line-height: ensure even-numbered height of button next to large input
	@include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
  }
  &.sm {
	// line-height: ensure proper height of button next to small input
	@include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
  }
  &.xs {
	@include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
  }
}
*/