.ax5-ui-div-slider{
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	.slider-holder{
		position: absolute;
		left:0px;
		top:0px;
		.slider-item{
			box-sizing: border-box;
		}

		&.touch-end{
			@include transition(all 0.3s $ease-out-expo);
		}
	}

	.slider-status{
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		text-align: center;

		.dot-group{
			position: relative;
			.dot{
				margin: 7px;
				display: inline-block;
				box-sizing: border-box;
				width: 7px;
				height: 7px;
				border: 1px solid #FFFFFF;
				border-radius: 50%;
			}
			.on_dot{
				position: absolute;
				left: -50%; top: 7px;
				display: block;
				box-sizing: border-box;
				width: 7px;
				height: 7px;
				background: #FFFFFF;
				border-radius: 50%;

				@include transition(all 0.3s, $ease-out-expo);
			}
		}
	}

}