
// setup of link color on "hover"
@mixin get-text-link($color) {
  color: $color;
  &:hover {
    color: darken($color, 10%);
  }
}


// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
  
  @if type-of($background) == "list" {

  }
  @else{
	$background: ($background, $background);
  }

  @include background-image(linear-gradient(to bottom, nth($background,1), nth($background, 2)));
  color: $color;
  border-color: $border;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active{
	color: $color;
	@include background-image( linear-gradient( to bottom, darken(nth($background,1), 10%), darken(nth($background, 2), 10%) ) );
	border-color: darken($border, 12%);
  }
  &:active,
  &.active{
	background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
	&,
	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active {
	  @include background-image(linear-gradient(to bottom, nth($background,1), nth($background, 2)));
	  border-color: $border;
	}
  }

  .badge {
	color: nth($background,1);
	background-color: nth($background,1);
  }


}
// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

// WebKit-style focus
@mixin tab-focus() {
// Default
  outline: thin dotted;
// WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
