// ax5-text
.align-left{ text-align: left; }
.align-right{ text-align: right; }
.align-center{ text-align: center; }
.align-justify{ text-align: justify; }
.nowrap{ white-space: nowrap;text-overflow: ellipsis;overflow: hidden; }

// Transformation
.lowercase{ text-transform: lowercase; }
.uppercase{ text-transform: uppercase; }
.capitalize{ text-transform: capitalize; }